.footer {
  width: 100%;
}

.footer .layout {
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.capy_wrap {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.capy_top {
  padding-top: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.capy_tel {
  flex: 1 1 300px;
  min-width: 200px;
}

.capy_tel h3 {
  font-size: 17px;
  font-weight: 600;
  color: #1c1c1c;
}
.capy_tel h2 {
  padding: 20px 0px;
  font-size: 24px;
  font-weight: 700;
  color: #444;
}
.capy_tel p {
  font-size: 14px;
  color: #aaa;
  line-height: 1.8;
}

.capy_cp_bn {
  display: flex;
  flex: 1 1 auto;
  gap: 20px;
  flex-wrap: wrap;
}

.capy_cp {
  flex: 1 1 150px; /* 너비가 좁아질 경우 줄바꿈 가능 */
  min-width: 150px;
}
.capy_cp h3 {
  font-size: 17px;
  font-weight: 600;
  color: #1c1c1c;
  padding-bottom: 4px;
}
.capy_cp p {
  padding-top: 16px;
  font-size: 16px;
  color: #777;
}

.capy_bn {
  flex: 1 1 150px; /* 너비가 좁아질 경우 줄바꿈 가능 */
  min-width: 150px;
}
.capy_bn h3 {
  font-size: 17px;
  font-weight: 600;
  color: #1c1c1c;
  padding-bottom: 4px;
}
.capy_bn p {
  padding-top: 16px;
  font-size: 16px;
  color: #777;
}

.capy_line {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #f0f1f6;
}

.capy_bottom {
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 14px;
}

.bar {
  display: inline-block;
  margin: 0 6px;
  width: 1px;
  height: 11px;
  background-color: #aaaaaa;
}

.footer_pri {
  display: flex;
  padding-top: 20px;
  gap: 24px;
  padding-bottom: 56px;
}

.capy_img {
  display: flex;
  height: 100%;
  gap: 20px;
}

@media all and (max-width: 768px) {
  .capy_top {
    display: inline-block;
    padding-left: 20px;
  }
  .capy_tel {
    padding-bottom: 60px;
  }

  .capy_tel h3 {
    font-size: 16px;
  }

  .capy_tel h2 {
    font-size: 18px;
  }

  .capy_cp h3 {
    font-size: 16px;
  }
  .capy_cp p {
    font-size: 15px;
  }

  .capy_bn h3 {
    font-size: 16px;
  }
  .capy_bn p {
    font-size: 15px;
  }

  .capy_line {
    margin-left: 20px;
  }
  .capy_bottom {
    display: block;
    font-size: 13px;
  }
  .capy_info {
    display: inline-block;
    padding-left: 20px;
    line-height: 30px;
    font-size: 13px;
  }
  .capy_img {
    padding-left: 20px;
    padding-bottom: 50px;
  }
}
