.header {
  border: 1px solid #e2e2e2;

  /* 뷰포트에 화면 고정 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.layout {
}
.header_top {
  /* 가운데 정렬 */
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  width: 1024px;
  height: 70px;
}
.header_left {
  position: relative;
  align-items: center;
  display: flex;
  gap: 48px;
  flex-direction: row;
  justify-content: center;
}
.logo {
  display: flex;
}
.menu {
  display: flex;
}
.menu p {
  padding-right: 16px;
  font-size: 17px;
  color: #1c1c1c;
  font-weight: 500;
}
.header_right {
  position: relative;
  align-items: center;
  display: flex;
  gap: 15px;
}
.header_right a {
  gap: 8px;
  display: flex;
  padding-right: 12px;
  color: #777;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.login_bt {
  width: 76px;
  height: 38px;
  color: #fff;
  background-color: rgb(131, 127, 255);
  border-radius: 10px;
  border: 0px;
}
