.header {
  border-bottom: 1px solid #e2e2e2;
  background-color: #fff;
  height: 71px;
  /* 뷰포트 화면 고정 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.layout {
  width: 100%;
  height: 100%;
}

.header_top {
  max-width: 1024px;
  /* 가운데 정렬 */
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header_left_logo {
  display: flex;
  align-items: center;
}

.header_left_logo img {
  width: 88px;
  height: 32px;
}

/* 메뉴 */
.header_left_menu {
  display: flex;
  align-items: center;
  position: relative;
}

.header_left_menu a {
  padding-right: 17px;
  font-size: 17px;
  font-weight: 500;
  color: #1c1c1c;
  text-decoration: none;
  top: -2px;
  position: relative;
}

.circle {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff5247;
  transform: translateX(-400%);
}

.header_right {
  position: relative;
  align-items: center;
  display: flex;
  gap: 15px;
}
.header_right a {
  gap: 8px;
  display: flex;
  padding-right: 12px;
  color: #777;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.login_bt {
  width: 76px;
  height: 38px;
  color: #fff;
  background-color: rgb(131, 127, 255);
  border-radius: 10px;
  border: 0px;
  font-weight: 500;
}

.menu_bar {
  display: none;
  border: none;
  background-color: none;
}

/* 반응형 */

@media all and (max-width: 768px) {
  .header {
    border-bottom: none;
  }

  .header_left_logo img {
    width: 77px;
    height: 28px;
  }

  .header_left_menu {
    display: none;
  }
  .header_right {
    display: none;
  }
  .menu_bar {
    display: block;
  }
}
