.pick {
  background-color: #f7f7ff;
  border: 1px solid #eee;
  padding: 56px 16px;
}
.layout {
}

.pick_bg {
  max-width: 1024px;
  margin: 0 auto;
}

.pick_title {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.pick_title span {
  color: #5a64f9;
}

.pick_contest {
}

.pick_contest_wrap {
  position: relative;
  display: flex;
  gap: 10px;
}

.pick_contest_image {
  position: relative;
  display: block;
  width: 240px;
  height: 350px;
  padding: 8px 8px 12px;
  text-decoration: none;
  border-radius: 20px;
}

.pick_contest_mouse {
  background-color: rgb(241, 242, 250) !important;
}

.pick_image {
  position: relative;
  width: 224px;
  height: 224px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 10px;
}

.pick_image::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 255, 0.05);
  content: "";
}

.pick_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 애니메이션 효과 */
  transition: transform 0.3s ease;
}

.pick_contest_text {
  padding: 0 8px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #444;
}

.pick_contest_option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 500;
  height: 21px;
}

.pick_left {
  display: flex;
  gap: 5px;
}

.option_blue {
  color: rgb(52, 109, 243);
  background-color: #e7ebfe;
  border-radius: 4px;
  padding: 3px 4px;
}

.option_ad {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1px 6px;
  right: 0;
  border-radius: 10px;
  color: white;
}

.option_purple {
  color: #5f26cd;
  background-color: #eee8ff;
  border-radius: 4px;
  padding: 3px 4px;
}

.option_red {
  color: #fe6d6d;
  background-color: #fdeff2;
  border-radius: 4px;
  padding: 3px 4px;
}

.option_address {
  color: #777;
  background-color: #ebedf0;
  border-radius: 4px;
  padding: 3px 4px;
}

.pick_contest_name {
  display: inline;
  margin-top: 2px;
  font-size: 15px;
  font-weight: 500;
  flex-wrap: wrap;
}

.pick_up {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  color: #fe6d6d;
  border: 1px solid #fe6d6d;
  font-size: 10px;
  font-weight: 600;
  height: 15px;
  padding: 0 3px;
  border-radius: 10px;
  line-height: 1.2;
}

.pick_contest_day {
  margin-top: 4px;
  font-size: 17px;
  font-weight: 600;
}

.zoom_image {
  /* 애니메이션 대상 추가 */
}

.zoom_in {
  transform: scale(1.1); /* 10% 확대 */
}
