.soon {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 56px 16px;
}
.layout {
}

.soon_bg {
  max-width: 1024px;
  margin: 0 auto;
}

.soon_title {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-left: 30px;
}

.soon_title span {
  color: #5a64f9;
}

.soon_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.soon_wrap > li {
}

.soon_up_image {
  position: relative;
  display: block;
  width: 240px;
  height: 350px;
  padding: 8px 8px 12px;
  text-decoration: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

.soon_up_mouse {
  background-color: rgba(229, 231, 235, 0.5) !important;
}

.soon_image {
  border: 1px solid rgba(229, 231, 235, 0.5);
  position: relative;
  width: 224px;
  height: 224px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 10px;
}

.soon_image::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.04);
  content: "";
}

.soon_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 애니메이션 효과 */
  transition: transform 0.3s ease;
}

.soon_up_text {
  padding: 0 8px;
  display: block;
  justify-content: center;

  color: #444;
}

.soon_up_option {
  display: flex;
  justify-content: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 500;
  height: 21px;
  gap: 4px;
}

.option_blue {
  color: rgb(52, 109, 243);
  background-color: #e7ebfe;
  border-radius: 4px;
  padding: 3px 4px;
}

.option_purple {
  color: #5f26cd;
  background-color: #eee8ff;
  border-radius: 4px;
  padding: 3px 4px;
}

.option_red {
  color: #fe6d6d;
  background-color: #fdeff2;
  border-radius: 4px;
  padding: 3px 4px;
}

.option_address {
  color: #777;
  background-color: #ebedf0;
  border-radius: 4px;
  padding: 3px 4px;
}

.soon_up_name {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 500;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.soon_up_day {
  margin-top: 4px;
  font-size: 17px;
  font-weight: 600;
}
